<div class="container principal">
    <form>
        <div class="container form-row">
            <div class="buscador">
                <input class="form-control form-control" type="text" placeholder="Buscar..."
                aria-label="Search">
            </div>
            <div class="selector">
                <select class="custom-select" id="exampleFormControlSelect1">
                    <option>Cursos</option>
                    <option>Catedrático</option>
                </select>
            </div>
            <button>Buscar</button> 
        </div>
    </form>
</div>

