<html>
    <head>
        <meta charset = utf-8/> 
        <link rel="stylesheet" href="log-in.component.css">
    </head>
    <body>
        <div class="cero">
            <label id="titulo">Bienvenido</label>
        </div>
        <div class="container ">
            <div class="row justify-content-center">
                <div class="one" align="center">
                    <img src="https://proxy.ingenieria.usac.edu.gt/autenticacion/XUI/images/login-logo.png?v=13.0.0">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="two col-lg-6" align="center">
                    <div class="row justify-content-center">
                        <label class="indicar" for="user">CORREO ESTUDIANTIL/NO. CARNET</label>
                    </div>
                    <div class="row justify-content-center">
                        <input id="user" type="text" class="textbox" name="user">
                    </div>
                    <div class="row justify-content-center">
                        <label class="indicar" for="password">INGRESE CONTRASEÑA</label>
                    </div>
                    <div class="row justify-content-center">
                        <input id="password" class="textbox" type="password" name="password">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="three" align="center">
                    <a><button class="BLogIn">Ingresar</button></a> <a href="/SignIn" ><button class="BSignIn">Registrarse</button></a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <a href="/ForgotPw"><label id="forgot">¿Olvido contraseña?</label></a>
                </div>
            </div>
        </div>
    </body>
</html>