body{
    
}

#titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin: 20px;
}

.indicar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    font-size: 20px;
}

.textbox {
    width: 350px;
    height: 30px;
    background-color: white;
    resize: none;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}

button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 132px;
    height: 35px;
    border-radius: 6px;
    margin: 20px;
    margin-top: 30px;
    margin-left: 10px;
}

.contenedor{
    margin: 100px;
    margin-left: 35%;
}