<html>
    <head>
        <meta charset = utf-8/>
        <link rel="stylesheet" href="restart-user.component.css">
    </head>
    <body>
        <div class="container contenedor">
            <div class="row">
                <label id="titulo">Restaurar contraseña</label>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="indicar">Confirmar carne:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="textbox">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="indicar">Confirmar correo:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="mail" class="textbox">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="indicar">Cambiar contraseña:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="password" class="textbox">
                </div>
            </div>
            <div class="row">
                <a href="/">
                    <button>Continuar</button>
                    </a>
            </div>
        </div>
    </body>
</html>
