<div class="publicacion">

    <h1><img src="https://www.flaticon.com/svg/static/icons/svg/684/684831.svg" width="50" height="50" alt="" loading="lazy"> ESCRIBE UNA PUBLICACIÓN</h1>
    <form>
        <div class="tipos form-row">
            <p>Categoría:</p>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="custom-control-label" for="inlineRadio1">Cursos</label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="custom-control-label" for="inlineRadio2">Catedrático</label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                <label class="custom-control-label" for="inlineRadio3">Curso-Catedrático</label>
            </div>
        </div>
        <div class="selector">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="texto">
            <textarea class="form-control" name="contenido-publicacion" placeholder="Escribe tu publicación..."></textarea>
        </div>
    <div class="botones">
        <div class="container">
            <button>Publicar</button>
        </div>
        
    </div>
    </form>
</div>
