<div class="publicacion">

    <h1 class={{publicacion.getType()}}>
        <span class="iconify" data-icon="fa-solid:user-graduate" data-inline="false" *ngIf="publicacion.tipo == 1"></span> 
        <span class="iconify" data-icon="dashicons:book-alt" data-inline="false" *ngIf="publicacion.tipo == 2"></span> 
        <span class="iconify" data-icon="fa-solid:chalkboard-teacher" data-inline="false" *ngIf="publicacion.tipo == 3"></span> 
        <span class="iconify" data-icon="whh:student" data-inline="false" *ngIf="publicacion.tipo == 4"></span> 
        <span class="iconify" data-icon="fa-solid:laptop-code" data-inline="false" *ngIf="publicacion.tipo == 5"></span>  
         {{publicacion.getType()}} / {{getTitle()}}
    </h1>
    <div class="row container datos">
        <h5 class="col-10 ">{{publicacion.carnet}} - {{getNombre()}}</h5>
        <h6 class="col-2">{{publicacion.fecha}}</h6>
    </div>
    <div class="row container msg">
        <p>{{publicacion.mensaje}}</p>
    </div>
    <div class="row container">
        
        <button id="bnVerComentario" (click)="listaComentarios()">Ver Comentarios</button>
        <button id="bnDejarComentario" (click)="mostrarOcultar()">Dejar Comentario</button>
    </div>
    <div class="row container Comentario" *ngIf="mostrar">
        <textarea dir="auto" name="mensajeComentario" [(ngModel)]="comentario" class="form-control" rows="1" data-auto-rows data-min-rows="1" data-max-rows="5" placeholder="Escribe un comentario..." role="textbox"></textarea>
        <button id="bncomentar" class="ml-auto" type="submit" (click)="addComentario()">Comentar</button>
    </div>
    <div class="row container Comentario" *ngIf="mostrarLista">
        <comentario></comentario>
        <comentario></comentario>
    </div>
</div>

