<div class="publicacion">

    <h1 class="catedratico"><span class="iconify" data-icon="fa-solid:user-graduate" data-inline="false"></span> Catedrático / Sergio Gómez Bravo</h1>
    <div class="row container datos">
        <h5 class="col-10 ">201906570 - Kenneth Haroldo López López</h5>
        <h6 class="col-2">10/11/2020</h6>
    </div>
    <div class="row container msg">
        <p>
            Nunca había escuchado de este ingeniero hasta ahora que 
            me asigne 3 cursos con él. He escuchado comentarios mixtos
            y no se que creer. ¿Podrían contarme sus experiencias en general?
        </p>
    </div>
</div>

<div class="publicacion">
    <h1 class="curso"><span class="iconify" data-icon="dashicons:book-alt" data-inline="false"></span>Curso / 2025 - Prácticas Iniciales</h1>
    <div class="row container datos">
       <h5 class="col-10 ">201906570 - Kenneth Haroldo López López</h5>
       <h6 class="col-2">10/11/2020</h6>
    </div>
    <div class="row container msg">
        <p>
            Cuando entré a la carrera escuché mucho acerca de muchos cursos. Pero lo raro es que
            nadie nunca menciona el curso de prácticas iniciales, y la verdad no tengo idea de qué trata
            los pre-requisitos y post-requisitos del curso en el pensum tampoco ayudan a saber de qué es.
            ¿Alguien me aclara de qué trata el curso de prácticas iniciales?
        </p>
    </div>
</div>

<div class="publicacion">
    <h1 class="cursoCat"><span class="iconify" data-icon="fa-solid:chalkboard-teacher" data-inline="false"></span> Curso-Catedrático / 2025 - Prácticas Iniciales: Sergio Gómez Bravo</h1>
    <div class="row container datos">
       <h5 class="col-10 ">201906570 - Kenneth Haroldo López López</h5>
       <h6 class="col-2">10/11/2020</h6>
    </div>
    <div class="row container msg">
        <p>
            ¿No es extraño que hayan solo dos catedráticos para este curso?
            Me da ansiedad ponerme a pensar en si escogí la mejor opción. Odio cuando a uno se lo lleva
            la fregada y la otra sección de lo más fresco. ¿Me aconsejan este catedrático para prácticas 
            iniciales?
        </p>
    </div>
</div>

<div class="publicacion">
    <h1 class="aux"><span class="iconify" data-icon="whh:student" data-inline="false"></span> Auxiliar / Carlos Jiménez</h1>
    <div class="row container datos">
       <h5 class="col-10 ">201906570 - Kenneth Haroldo López López</h5>
       <h6 class="col-2">10/11/2020</h6>
    </div>
    <div class="row container msg">
        <p>
            ¿De verdad es tan buena onda como dicen? ¿O solo es para los que le caen bien?
            De lo que me han contado, no es muy común entre los auxiliares que he tenido. Verdad o mito, 
            ¿confirman?
        </p>
    </div>
</div>

<div class="publicacion">
    <h1 class="auxCurso"><span class="iconify" data-icon="fa-solid:laptop-code" data-inline="false"></span> Curso- Auxiliar / 2025- Prácticas Iniciales: Carlos Jiménez</h1>
    <div class="row container datos">
       <h5 class="col-10 ">201906570 - Kenneth Haroldo López López</h5>
       <h6 class="col-2">10/11/2020</h6>
    </div>
    <div class="row container msg">
        <p>
            No estoy muy convencido del catedrático que escogí. Pero si algo sé es que un buen auxiliar
            puede hacer una clase mal dada manejable. ¿Será que Carlos me hace el carrito para Prácticas?
        </p>
    </div>
</div>

